# Rust
backend/target/
**/*.rs.bk
# Cargo.lock

# SQLite databases
*.db
*.db-shm
*.db-wal

# Environment variables
**/.env
**/.env.local
**/.env.*.local

# IDE
.vscode/
.idea/
*.iml

# macOS
.DS_Store

# Logs
*.log

target/**
node_modules
apps/web/out

tmp
apps/web/.next
data/
logs/

*.onnx

secrets/*
